@font-face {
  font-family: "Geometria";
  font-size: normal;
  font-weight: 300;
  src: url(../fonts/geometria_light.otf);
}
@font-face {
  font-family: "Geometria";
  font-size: normal;
  font-weight: 500;
  src: url(../fonts/geometria_medium.otf);
}
@font-face {
  font-family: "Geometria";
  font-size: normal;
  font-weight: 600;
  src: url(../fonts/geometria_bold.otf);
}
@font-face {
  font-family: "Geometria";
  font-size: normal;
  font-weight: 700;
  src: url(../fonts/geometria_extrabold.otf);
}
body {
  font-size: 16px;
  background: white;
  font-family: "Geometria";
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section__container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}
.section__container--wide {
  max-width: 1200px;
}

.btn {
  display: block;
  background: linear-gradient(180deg, #FFDC87 0%, #F5C144 100%);
  box-shadow: 0px 7px rgb(197, 156, 79);
  border-radius: 27.5px;
  padding: 17px 30px;
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.5s ease;
  border: none;
}

.btn__gold:active {
  transition: 0.1s;
  transform: translate(0, 7px);
  box-shadow: 0px 3px rgb(197, 156, 79);
}

.btn__link {
  color: black;
  text-decoration: none;
  border-bottom: 1px dashed black;
}
.btn__link:hover {
  transition: 0.3s;
  color: #3549FE;
  border-bottom: 1px dashed #3549FE;
}

.btn__none {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: black;
  line-height: 20px;
  padding: 14px 30px;
  border: 1px solid black;
  border-radius: 24px;
  cursor: pointer;
  text-align: center;
}

.header {
  background: url(../img/hero/fon_two.png) no-repeat 50% 50%;
  padding-bottom: 70px;
}

.main__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
}
.main__navigation .logo {
  display: flex;
  align-items: center;
  width: 164px;
}
.main__navigation .logo .logo__image {
  width: 60px;
  height: 56px;
  margin-right: 13px;
}
.main__navigation .logo .logo__title {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 24px;
  color: #521E00;
  text-transform: uppercase;
}

.zapis {
  width: 220px;
}
.zapis .opet {
  display: flex;
  align-items: center;
  margin-right: 13px;
}
.zapis .opet .opet__image {
  margin-right: 13px;
}
.zapis .opet .group .title {
  font-weight: 600;
  font-size: 16px;
}
.zapis .opet .group .text {
  font-size: 14px;
  font-weight: 300;
}

.group__phone {
  width: 410px;
}
.group__phone .group__first {
  display: flex;
  align-items: center;
}
.group__phone .group__first .phone__link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-weight: 700;
  margin-right: 12px;
}
.group__phone .group__first .phone__text {
  display: flex;
  align-items: center;
}
.group__phone .group__first .phone__text .znak {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #00FF00;
  box-shadow: 0px 0px 5px 5px rgba(146, 243, 137, 0.75);
  margin-right: 8px;
}
.group__phone .group__first .phone__text .text {
  font-size: 14px;
  font-weight: 300;
}
.group__phone .group__two {
  display: flex;
  align-items: center;
  padding-top: 8px;
}
.group__phone .group__two .veber__whatsapp {
  display: flex;
  align-items: center;
  background-color: #7D519E;
  border-radius: 16px;
  padding: 5px 19px;
  margin-right: 4px;
  cursor: pointer;
}
.group__phone .group__two .veber__whatsapp .text {
  color: white;
  font-size: 12px;
  font-weight: 700;
  margin-left: 8px;
}
.group__phone .group__two .whatsapp {
  background: #00E676;
}
.group__phone .btn__zakaz .btn__link {
  color: black;
  text-decoration: none;
  border-bottom: 1px dashed black;
  margin-left: 4px;
  font-size: 16px;
  font-weight: 400;
}

.first__block {
  width: 648px;
}
.first__block .block__title {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 44px;
  font-weight: 300;
  margin-top: 54px;
}
.first__block .block__title span {
  font-weight: 600;
}
.first__block .group__img__text {
  display: flex;
  align-items: center;
  width: 357px;
  margin-top: 24px;
}
.first__block .group__img__text .image__map {
  width: 84px;
  height: 60px;
  margin-right: 26px;
}
.first__block .group__img__text .title {
  font-size: 24px;
  font-weight: 600;
}
.first__block .group__btn__text {
  display: flex;
  align-items: center;
  width: 350px;
  margin-top: 36px;
}
.first__block .group__btn__text .group {
  width: 120px;
  margin-left: 30px;
}
.first__block .group__btn__text .group .btn__style {
  font-weight: 500;
  color: #3549FE;
  font-size: 16px;
  border-bottom: 1px dashed #3549FE;
}
.first__block .slider__first {
  background-color: #F3F3F2;
  border-radius: 2px;
  width: 435px;
  height: 198px;
  margin-top: 90px;
}
.first__block .slider__first .wrapper {
  display: flex;
  margin-top: 28px;
}
.first__block .slider__first .wrapper .item__left .title {
  font-size: 30px;
  text-align: center;
  font-weight: 300;
  margin-left: 28px;
  line-height: 37.5px;
  margin-top: 18px;
}
.first__block .slider__first .wrapper .item__left .title span {
  font-weight: 500;
  color: #009E2C;
}
.first__block .slider__first .wrapper .item__left .group__btn {
  margin-top: 36px;
  margin-left: 30px;
}
.first__block .slider__first .wrapper .item__rigth .image__item {
  margin-top: 12px;
  margin-right: 4px;
}
.first__block .slider__first .next__prev {
  width: 40px;
  height: 40px;
  background-color: white;
  color: white;
  border-radius: 100%;
  text-align: center;
}
.first__block .slider__first .next__prev .next__black {
  background-color: black;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  transform: translate(4px, 4px);
}
.first__block .slider__first .next__prev .next__black .next__link {
  text-decoration: none;
  color: white;
  font-size: 23px;
}
.first__block .slider__first #next--style {
  transform: translate(-20px, -250%);
}
.first__block .slider__first #prev--style {
  position: relative;
  left: 100%;
  transform: translate(-50%, -360%);
}

.about_me .section__container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.wrapper__video {
  display: flex;
  align-items: center;
  justify-content: end;
}
.wrapper__video .item__left {
  display: flex;
  align-items: flex-end;
}
.wrapper__video .item__left .group .title {
  position: relative;
  width: 118px;
  right: 60px;
  padding-bottom: 2px;
}
.wrapper__video .item__rigth {
  margin-left: 30px;
}
.wrapper__video .item__rigth .group__img {
  padding-bottom: 30px;
}
.wrapper__video .item__rigth .group {
  display: flex;
}
.wrapper__video .item__rigth .group .next__black {
  background-color: black;
  color: white;
  text-align: center;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  transform: translate(4px, 4px);
  cursor: pointer;
}
.wrapper__video .item__rigth .group .next__black .next__link {
  text-decoration: none;
  color: white;
  font-size: 23px;
}
.wrapper__video .item__rigth .group .next__black + .next__black {
  margin-left: 82px;
}
.wrapper__video .item__rigth .group__btn {
  margin-top: 30px;
}

.header__menu .menu__body {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
}
@media (max-width: 767px) {
  .header__menu .menu__body {
    display: block;
    margin-top: 45px;
  }
}
.header__menu .menu__body .menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 553px;
  justify-content: space-around;
  background: linear-gradient(180deg, #FFFFFF 0%, #E2E2E2 100%);
  box-shadow: inset 0px -2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 28px;
  padding: 11px 56px;
}
@media (max-width: 767px) {
  .header__menu .menu__body .menu__list {
    flex-direction: column;
    justify-content: center;
    background: white;
    padding: 0;
    box-shadow: none;
    border-radius: 0px;
    flex-direction: column;
    width: 100%;
    flex-basis: 100%;
  }
}
.header__menu .menu__body .menu__list--rigth {
  width: 1018px;
  margin-left: 30px;
}
@media (max-width: 767px) {
  .header__menu .menu__body .menu__list--rigth {
    text-align: center;
    width: 100%;
    margin-left: 0;
    flex-basis: 100%;
  }
}
.header__menu .menu__body .menu__list .menu__link {
  text-decoration: none;
  font-size: 16px;
  color: black;
  font-weight: 500;
}
@media (max-width: 767px) {
  .header__menu .menu__body .menu__list .menu__link {
    font-size: 28px;
  }
}
@media (max-width: 767px) {
  .header__menu .menu__body .menu__list .item {
    text-align: center;
    margin-left: 0;
    padding-top: 12px;
  }
}
.header__menu .menu__body .menu__list .item__buble + .item__buble {
  margin-left: 50px;
}
@media (max-width: 767px) {
  .header__menu .menu__body .menu__list .item__buble + .item__buble {
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  .header__menu .menu__body .menu__list .item__buble {
    padding-top: 12px;
  }
}

.about__number {
  background: url(../img/opet/fon.png);
  background-size: 100% 120%;
}
.about__number .section__container {
  padding-top: 110px;
}

.wrapper__content {
  display: flex;
  justify-content: space-between;
}
.wrapper__content .content__image {
  flex-basis: 40%;
}
.wrapper__content .content__image img {
  width: 500px;
}
.wrapper__content .content__text {
  flex-basis: 590px;
}
.wrapper__content .content__text h2 {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  line-height: 50px;
}
.wrapper__content .content__text h2 span {
  font-weight: 600;
}
.wrapper__content .content__text .text {
  font-size: 16px;
  text-align: center;
  line-height: 20px;
  margin-top: 23px;
  margin-bottom: 23px;
}
.wrapper__content .content__text .text span {
  font-weight: 500;
}
.wrapper__content .content__text .title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 30px;
  text-align: center;
}
.wrapper__content .content__text .group {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper__content .content__text .group .group__image {
  width: 178px;
  height: 90px;
  margin-right: 20px;
}
.wrapper__content .content__text .group .text {
  font-size: 16px;
  font-weight: 600;
  color: #A44B0D;
  width: 103px;
  text-align: justify;
}
.wrapper__content .content__text .group .text span {
  font-weight: 300;
}
.wrapper__content .content__text .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
.wrapper__content .content__text .wrapper .item {
  flex-basis: 180px;
}
.wrapper__content .content__text .wrapper .item--free {
  flex-basis: 50px;
}
.wrapper__content .content__text .wrapper .item .subtitle {
  font-size: 36px;
  color: #A44B0D;
  font-weight: 500;
  padding-bottom: 9px;
}
.wrapper__content .content__text .wrapper .item .subtext {
  font-size: 16px;
  line-height: 24px;
  color: black;
}

.proect {
  background: url(../img/proect/fon.png) no-repeat 50% 50%;
}
.proect .section__container {
  max-width: 1200px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 50px;
}

.wrap__content h2 {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
  font-weight: 300;
  font-size: 40px;
  margin-left: 20%;
  margin-right: 20%;
  line-height: 50px;
  margin-bottom: 23px;
}
.wrap__content h2 span {
  font-weight: 700;
}
.wrap__content .text {
  font-size: 16px;
  line-height: 24px;
  margin-left: 27%;
  margin-right: 27%;
  text-align: center;
  padding-bottom: 40px;
}
.wrap__content .wrapper__btn {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 35px;
}
.wrap__content .wrapper__btn .content__left {
  flex-basis: 450px;
}
.wrap__content .wrapper__btn .content__left .subtitle {
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 12px;
}
.wrap__content .wrapper__btn .content__left .btn__none--gray {
  background-color: #E7E7E7;
  border: 1px solid #E7E7E7;
}
.wrap__content .wrapper__btn .content__rigth {
  flex-basis: 660px;
}
.wrap__content .wrapper__btn .content__rigth .subtitle {
  font-size: 16px;
  font-weight: 500;
}
.wrap__content .wrapper__btn .content__rigth .group .btn__none {
  margin-top: 12px;
}
.wrap__content .wrapper__card {
  display: flex;
  justify-content: space-between;
}
.wrap__content .wrapper__card .item__card {
  flex-basis: 280px;
  border-radius: 8px;
  background-color: #ffffff;
  border: 1px solid #F1F1F1;
  box-sizing: border-box;
}
.wrap__content .wrapper__card .item__card--blue {
  background: url(../img/proect/card.png) no-repeat 50% 50%;
  border: none;
  overflow: hidden;
}
.wrap__content .wrapper__card .item__card--blue .sub-title {
  color: white;
  font-weight: 300;
  margin-top: 76px;
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  padding-bottom: 25px;
}
.wrap__content .wrapper__card .item__card--blue .sub-title span {
  font-weight: 500;
}
.wrap__content .wrapper__card .item__card .item__image {
  border-radius: 8px 8px 0 0;
  width: 100%;
}
.wrap__content .wrapper__card .item__card .title {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  padding-top: 15px;
  padding-bottom: 15px;
}
.wrap__content .wrapper__card .item__card .text {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 16px;
  padding-bottom: 31px;
}
.wrap__content .wrapper__card .item__card .wrapper__group {
  display: flex;
  justify-content: space-around;
  margin-bottom: 22px;
}
.wrap__content .wrapper__card .item__card .btn__gold {
  margin-bottom: 29px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

.standart {
  background: url(/img/standart/fon.png);
  background-size: 100% 100%;
}
.standart .section__container--wide {
  padding-top: 30px;
  padding-bottom: 60px;
}

.standart__content h2 {
  font-weight: 300;
  font-size: 40px;
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  line-height: 50px;
  padding-bottom: 83px;
}
.standart__content h2 span {
  font-weight: 700;
}
.standart__content .wrapper {
  display: flex;
  justify-content: center;
}
.standart__content .wrapper .item {
  width: 435px;
  border-radius: 10px;
  box-sizing: border-box;
  border: 1px solid #F1F1F1;
}
.standart__content .wrapper .item img {
  border-radius: 10px 10px 0px 0px;
}
.standart__content .wrapper .item .group {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  margin-bottom: 8px;
  margin-left: 30px;
  margin-right: 30px;
}
.standart__content .wrapper .item .group .title {
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
}
.standart__content .wrapper .item .group .text {
  font-size: 18px;
  line-height: 22px;
}
.standart__content .wrapper .item .text {
  font-size: 16px;
  line-height: 20px;
  margin-left: 30px;
  margin-bottom: 20px;
}
.standart__content .wrapper .item .btn__gold {
  margin-left: 115px;
  margin-right: 115px;
  margin-bottom: 24px;
}
.standart__content .wrapper .item + .item {
  margin-left: 30px;
}
.standart__content h3 {
  font-size: 28px;
  font-weight: 300;
  text-align: center;
  padding-top: 38px;
  padding-bottom: 33px;
  line-height: 35px;
  letter-spacing: 1px;
}
.standart__content h3 span {
  font-weight: 600;
}
.standart__content .wrapper__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 150px;
  margin-right: 148px;
}
.standart__content .wrapper__list .item__list {
  width: 203px;
  text-align: center;
  margin-bottom: 24px;
}
.standart__content .wrapper__list .item__list .subtitle {
  font-size: 14px;
  line-height: 18px;
  padding: 0px 30px 0px 30px;
}
.standart__content .wrapper__list .item__list + .item__list {
  margin-left: 28px;
}
.standart__content .wrapper__list .item__list:nth-child(5) {
  margin-left: 0;
}

.standart__zakaz .section__container {
  background: url(/img/prorct__zakaz/fon.png);
  background-size: 100% 100%;
  padding-bottom: 30px;
}

.zakaz__content {
  display: flex;
  justify-content: space-between;
}
.zakaz__content .item {
  width: 434px;
  border-radius: 10px;
}
.zakaz__content .item h2 {
  font-weight: 300;
  font-size: 40px;
  line-height: 50px;
  margin: 23px 0px;
  padding-bottom: 23px;
}
.zakaz__content .item h2 span {
  font-weight: 700;
}
.zakaz__content .item .text {
  font-size: 16px;
  line-height: 24px;
  color: #6F6F6F;
}
.zakaz__content .item--bg {
  background: url(../img/prorct__zakaz/form.png);
  margin-right: 100px;
}
.zakaz__content .item--bg h3 {
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  padding: 78px 61px 12px 61px;
}
.zakaz__content .item--bg h3 span {
  font-weight: 600;
}
.zakaz__content .item--bg .item__form {
  margin-left: 61px;
  margin-right: 61px;
}
.zakaz__content .item--bg .item__form .item__input {
  width: 312px;
  height: 50px;
  background-color: #F6F6F6;
  border-radius: 5px;
  margin-bottom: 15px;
  border: none;
  color: #676767;
  font-weight: 300;
  text-indent: 16px;
}
.zakaz__content .item--bg .item__form .label {
  cursor: pointer;
  margin-left: 14px;
}
.zakaz__content .item--bg .item__form .label input[type=file] {
  outline: 0;
  opacity: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.zakaz__content .item--bg .item__form .label .material-icons {
  transform: rotate(37.45deg);
  color: #5A90EC;
  margin-right: 14px;
}
.zakaz__content .item--bg .item__form .label .title {
  font-size: 16px;
  line-height: 20px;
}
.zakaz__content .item--bg .item__form .btn__gold {
  width: 235px;
  margin-left: 41px;
  margin-right: 41px;
  margin-bottom: 15px;
  cursor: pointer;
}
.zakaz__content .item--bg .text {
  margin-left: 65px;
  margin-right: 65px;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  padding-bottom: 45px;
}
.zakaz__content .item--bg .text .link {
  text-decoration: none;
  color: #3549FE;
}/*# sourceMappingURL=style.css.map */